.section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--color-light-1);
    padding: 2rem;
    border-radius: 1rem;
}
.userDetails {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid var(--color-dark-2);
    border-radius: 1rem;
    background: linear-gradient(135deg, #0000 20.5%, #ffffff 0 29.5%, #0000 0) 0
            16px,
        linear-gradient(45deg, #0000 8%, #ffffff 0 17%, #0000 0 58%) 32px 0,
        linear-gradient(
            135deg,
            #0000 8%,
            #ffffff 0 17%,
            #0000 0 58%,
            #ffffff 0 67%,
            #0000 0
        ),
        linear-gradient(
            45deg,
            #0000 8%,
            #ffffff 0 17%,
            #0000 0 58%,
            #ffffff 0 67%,
            #0000 0 83%,
            #ffffff 0 92%,
            #0000 0
        ),
        rgba(32, 255, 2, 0.11);
    background-size: 6rem 6rem;
}

.userDetails .img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.userDetails .img img {
    width: 100%;
}

.userDetails > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
}

.userDetails > div > p:nth-of-type(2) {
    font-size: 1.6rem;
}

.userDetails > div:nth-of-type(2) p span {
    font-weight: 600;
}

.userDetails > div > p:nth-of-type(3) {
    font-size: 1.3rem;
}

.head {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.section form > div {
    max-width: 80rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.section form > div div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.section form > div input,
.section form > div select {
    outline: none;
    border: 1px solid var(--color-dark-2);
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.5rem;
}

.section .btns {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section .btns div button {
    border: none;
    outline: none;
}
.section .btns .btn {
    padding: 1rem;
    background-color: var(--color-dark-3);
    color: var(--color-light-1);
    border-radius: 0.5rem;
    cursor: pointer;
}

.section .btns > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
