p.head {
    background-color: var(--color-main-3);
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: 600;
    border-radius: 1rem;
}

.part {
    background-color: var(--color-light-1);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

p.subTitle {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.part > div:nth-of-type(1) {
    border-top: 1px solid var(--color-dark-2);
    border-bottom: 1px solid var(--color-dark-2);
    padding: 2rem 0rem;
}
.part > div:nth-of-type(2) {
    font-size: 1.5rem;
    padding: 1rem;
}

.part .head {
    font-weight: 600;
    color: var(--color-main-1);
}

.part .head,
.part .body {
    font-size: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status > p {
    font-size: 1.5rem;
    padding: 0.4rem 1.3rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-1);
}

.status > p.pending {
    background-color: rgb(255, 196, 0);
}

.pagination {
    padding: 2rem;
}

.pagination button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
